body{
    margin: 0;
    padding: 0;
    background-color: black;
}

@font-face {
    font-family: 'porterSans';
    src: url('../assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.woff') format('woff'),
}

nav{
    display: flex;
    justify-content: center;

}

.topNav{
    position: fixed;
    z-index: 1000;
    width: 90%;
    height: 70px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 25px;
}


.navLogo img{
    width: 100%;
    height: 65%;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

.logo{
    width: 80px;
    height: 80px;
}

.navList{
    float: right;
    margin-top: 20px;
    word-spacing: 20px;
    align-items: center;
    justify-content: center;
}

.navList a{
    text-decoration: none;
    color: rgb(95, 95, 95);
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.navList :hover{
    color: red;
}

.navList a.active{
color: rgb(240, 0, 0);
}

.searchBar {
    width: 225px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    opacity: 100% !important;
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-top: 13px;
    border-radius: 10px;
    box-shadow: 11px -5px 5px -1px rgba(171, 171, 171, 0.5);
    -webkit-box-shadow: 11px -5px 5px -1px rgba(171, 171, 171, 0.5);
    -moz-box-shadow: 11px -5px 5px -1px rgba(171, 171, 171, 0.5);
}

.searchBar svg {
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

.search{
    padding-left: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.vertical-line {
    width: 2px;
    height: 20px;
    background-color: rgb(194, 194, 194); 
    opacity: 30%;
    margin-left: 80px;
}

.Cartsvg{
    margin-left: 10px;
    margin-top: 5px;
}

.circle{
    width: 23px;
    height: 20px;
    background-color: rgb(255, 55, 55);
    color: white;
    border-radius: 50px;
    text-align: center;
    padding-bottom: 2px;
    margin-bottom: 40px;
    margin-right: -10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headerImg{
    width: 100%;
    height: 150%;
    background-image: url('../assets/Images/homePageHeader.png');
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: flex-end;
}

.headerImg h1 {
    width: 500px;
    padding-left: 50px;
    font-family: 'porterSans', sans-serif;
    color: #D92627;
}
    
.headerImg p{
    width: 750px;
    padding-left: 50px;
    padding-bottom: 20px;
    font-family: 'porterSans', sans-serif;
    color: #0926a5;
    font-size: 12px;
}


.featuredTrips{
    background-color: #6a65a1;
    display: flex;
    justify-content:center;
    align-items: center;
}

.tripsText{
    width: 100%;
}

.tripsImg{
    margin-left: 8%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.featuredTrips h1{
    color: #7c0458;
    font-size: 18px;
}

.featuredTrips h2{
    color: white;
    font-size: 30px;
}

.featuredTrips p{
    color: white;
    font-size: 18px;
}

.featuredTrips h1, h2, p{
    width: 400px;
    padding-left: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-wrap: break-word;
}

.featuredBtn{
    margin-left: 100px;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    background-color: red;
    border-color: red;
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.featuredBtn:hover{
    background-color: rgb(252, 32, 32);
}

.ourShuttles{
    background-color: rgb(163, 145, 243);
    display: flex;
    justify-content: center;
    align-items: center;
}

.shuttlesImg{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 50px;
}

.ourShuttles h1{
    font-size: 18px;
    color: #7c0458;
}

.ourShuttles h2{
    color: white;
}

.ourShuttles p{
    color: white;
}

.ourShuttles h1, h2, p{
    padding-left: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.upcoming{
    background-color: #0926a5;
    height: 1000px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.upcomingText{
    display: flex;
    justify-content: center;
}

.upcomingText h1{
    font-size: 15px; m 
}

.upcomingText p{
    font-size: 40px;
    color: white;
    font-weight: 700;
}

.upcomingCard {
    background-color: #0926a5;
    height: 100%;
    display: flex;
    justify-content: center; 
    padding-top: 60px;
    color: white;
}

.upcomingMars {
    max-width: 300px;
    width: 100%; 
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-wrap: break-word;
}


.upcomingMars h1, p{
    margin-top: 10px;
    height: auto;
}

.upcomingNeptune {
    max-width: 300px;
    width: 100%; 
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden; 
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-left: 50px;
}


.upcomingNeptune h1, p{
    margin-top: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    height: auto;
}

.upcomingJupiter {
    max-width: 300px;
    width: 100%; 
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden; 
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-left: 50px;
}


.upcomingJupiter h1, p{
    margin-top: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    height: auto;
}

.upcomingSaturn {
    max-width: 300px;
    width: 100%; 
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden; 
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-left: 50px;
}


.upcomingSaturn h1, p{
    margin-top: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    height: auto;
}
